.nav-header {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
 
  }
  
  .nav-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-left {
    flex: 1;
  }
  
  .app-logo {
    width: 60px;
    height: 60px;
    margin-top: 5px;
    border-radius: 7px;
  }
  
  .nav-center {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .user-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .login-button {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .login-button:hover {
    background-color: #005bb5;
  }
  