.container {
  margin: 20px;
}

.title {
  font-size: 24px;
  color: #f4f4f4;
  margin-bottom: 10px;
}

.list {
  list-style: none;
  padding: 0;
}

.list-item {
  margin-bottom: 5px;
}

.link-style {
  text-decoration: none;
  cursor: pointer;
  color: black;
  /* Añade cualquier estilo adicional que desees */
}

.item{
  text-decoration: none;
}
.container {
  padding: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(33.33% - 20px); /* Ancho de la tarjeta */
  height: 120px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #1a1a1a;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card-content {
  cursor: pointer;
  text-decoration: none;
}

.card:hover {
  background-color: #333333;
}