/* wallets.css */

/* Estilos generales */
.container-wallet {
	padding: 20px;
	/* background-color: #f9f9f9; */
	text-align: center;
  }
  
  .title-wallets {
	font-size: 2.5em;
	margin-bottom: 20px;
	color: #fff;
  }
  
  .container-name-image-wallet {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
  }
  
  .logo-binance {
	width: 200px;
	height: auto;
	color: #f0b90b;
  }

  .img-wallet {
	position: relative;
	left: 80px;
	scale: 0.8;
  }

  .logo-coinbase {
	scale: 0.5;
  }
  
  .container-description-wallets {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10%;
  }
  
  .container-izq, .container-der {
	width: 80%;
	max-width: 600px;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 15px;
	background: linear-gradient(to right,rgb(0, 0, 0),rgb(33, 25, 60));
	color: #fff;
	font-weight: bold;
	line-height: 35px;
  }
  
  .title-wallets {
	font-size: 2em;
	margin-bottom: 10px;
  }
  
  .texto-description-wallets {
	font-size: 1.2em;
  }
  
  /* Estilos para pantallas pequeñas */
  @media screen and (max-width: 768px) {
	.container-wallet {
	  padding: 10px;
	}
  
	.title-wallets {
	  font-size: 2em;
	}
  
	.container-name-image-wallet {
	  margin-bottom: 10px;
	}
  
	.logo-binance {
	  width: 150px;
	}
  
	.container-description-wallets {
	  width: 100%;
	  padding: 10px;
	}
  
	.container-izq, .container-der {
	  width: 100%;
	  margin-bottom: 15px;
	}
  
	.title-wallets {
	  font-size: 1.5em;
	}
  
	.texto-description-wallets {
	  font-size: 1em;
	}
  }
  
  /* Estilos para pantallas extra pequeñas */
  @media screen and (max-width: 480px) {
	.title-wallets {
	  font-size: 1.2em;
	}
  
	.logo-binance {
	  width: 100px;
	}
  
	.texto-description-wallets {
	  font-size: 0.9em;
	}
  }
  




/* BACKGROUNDS */

/* background: linear-gradient(to right,rgb(0, 0, 0),rgb(33, 25, 60)); */
