.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  /* background-color: #050505; */
}

.signin-box {
  padding: 20px;
  border-radius: 8px;
  /* background-color: rgba(255, 255, 255, 0.8); */
  border: 1px solid #673de6;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(33, 25, 60));
  text-align: center;
}

.title {
  font-size: 24px;
  margin-bottom: 16px;
  color: #fff;
}

.error-message {
  color: red;
  margin-bottom: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

input {
  height: 30px;
  border: none;
  border-radius: 8px;
  outline: none;
}

.button-submit {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --blur: 30px;
  --bg: #080312;
  height: 40px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: 0.5em 1.5em;
  font-size: 15px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  clip-path: polygon(
    0% var(--curve-size),
    var(--curve-size) 0,
    100% 0,
    100% calc(100% - var(--curve-size)),
    calc(100% - var(--curve-size)) 100%,
    0 100%
  );
  transition: color 250ms;
}

.button-submit::after,
.button-submit::before {
  content: "";
  position: absolute;
  inset: 0;
}

.button-submit::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }
  50% {
    background-position: 70% 100%;
  }
  100% {
    background-position: 31% 0%;
  }
}

.button-submit::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    var(--border-width)
      calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.button-submit:where(:hover, :focus)::after {
  clip-path: polygon(
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 200ms;
}

.button-submit:where(:hover, :focus) {
  color: #fff;
}

.container-login-options {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.button-options-login {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  border: none;
}

.svg-google {
  margin-right: 10px;
}

.svg-github {
  margin-right: 10px;
}